.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.section {
  background-color: rgba(219, 219, 219);
}

.section-name {
  background-color: rgb(245, 245, 245);
}

.even {
  background-color: rgb(245, 245, 245);
}

.hide-even {
  color: rgb(245, 245, 245);
}

.hide-odd {
  color: rgb(219, 219, 219);
}

.navbar {
  background-color: rgba(175, 174, 174, 0.3);
}

.btn {
  width: 200px;
}
